body{
    overflow-x: hidden;
}

p{
    text-align: justify;
    font-size: 16px;
    line-height: 32px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    padding: 0;
    margin: 0;
}

#header{
    padding: 0;
    width: 100%;
}

#logo{
    width: 180px;;    
    max-height: 70px;
    margin: 0;
    padding: 0;
}

.navbar-stamina{
    background-color: #B2B034;
    color: #ffffff;
}

#banner{
    display: flex;    
    justify-content: center;
    padding: 2vw 3vw 1vw 2vw;
}

#box-evento{
    display: flex;    
    justify-content: flex-start;
    padding: 3vw 3vw 3vw 3vw;
    align-items: center;    
    font-size: 40 px;
}

.card-evento{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #64429A;
    font-size: 40px;
    font-weight: bold; 
    height: 100px;
    line-height: 30px;
    color: #ffffff;
}

.txt-evento{
    display: flex;    
    justify-content: flex-start;
    align-items: center;
}

.btn-comprar{
    margin-top:2vw;
    margin-bottom: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-comprar>button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    background: #64429A;
    border: 0;
    border-radius: 0;
    font-size: 20px;
}

.btn-comprar>button:hover{
    background-color: #362364;
}

#palestrante{
    display: flex;    
    justify-content: center;
    align-items: center;  
    padding: 2vw 3vw 1vw 2vw;
    font-size: 40 px;
}

#palestrante>h1{
    font-size: 30px;
}

.palestrante-item{
    display: flex;   
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.palestrante-img{
    border-radius: 180vw;
}

#social{
    display: flex;    
    justify-content: center;
    align-items: center;  
    padding: 2vw 0vw 1vw 2vw;
    font-size: 40 px;
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    font-size: 20px;
    background-color:  #64429A ;
    color: #ffffff;    
}

.footer-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
